.container {
	max-width: 1200px;
	margin: 0 auto;
}
nav {
	background-color: #313234;
	height: 50px;	
}
.container ul {
	display: inline-block;
	float: right;
	padding: 0;
	list-style-type: none;
	margin: 0 auto;
}
body {
	margin: 0 auto;
	font-family: "Open sans", sans-serif;
	background: #ffeb00;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
nav>div>ul>li>a {
	line-height: 50px;
	padding: 0 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
nav>div>ul>li {
	display: inline-block;	
}
.container li:hover {
	background-color: #4b4d51;	
}
nav img {
	padding: 10px 0;	
}
header {
	height: 100vh;
	width: 100%;
	background: url(https://images.unsplash.com/photo-1463780324318-d1a8ddc05a11?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;);
	background-size: 100% 100%;
}
.slogan h2 {
	color: #fff;
	font-size: 300%;
	text-transform: uppercase;
	text-align: center;
}
section h2 {
	text-align: center;
	text-transform: uppercase;
}
.photo .gallery {
	width: 100%;
	border: 3px solid #000;
}
.gallery {
	width: 100%;
}
.gallery img {
	width: 30%;
	margin-right: 5%;
	float: left;
	height: 240px;
	padding-bottom: 40px;
}
.gallery img:last-of-type {
	margin-right: 0;
}
.map img {
	width: 100%;
}
.footer p {
	text-align: center;
	font-weight: bolder;
}
@media(max-width: 768px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}	
	h2 {
		font-size: 0.9em;
	}
	p {
		font-size: 0.7em;	
	}
}

@media (max-width: 640px) {
	.gallery img {
		width: 47%;
		margin-right: 6%;
	}

	.gallery img:nth-child(even) {
		margin-right: 0;
	}
}

@media (max-width: 360px) {
	.gallery img {
		width: 100%;
	}
}